/* Typeography  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
$Rale: 'Raleway'; // 300, 400, 700, 800
// color pallette 
$grayBorder: rgb(177, 177, 177);
$grayText: rgb(95, 95, 95);

@mixin buttonSpanFirst {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
}
@mixin buttonSpanLast{
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.App{
  font-family:$Rale;
  margin: 10px;
}

// DETAIL VIEW OF STUDENTS 
.studentListItem{
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  
  .avatar{
    margin: 3.5rem 1.5rem;
  
    img{
      border: 0.5px solid $grayBorder;
      border-radius: 50%;
      height: 12rem;
    } 
  }

  .studentDetail{
    align-self: flex-start;
    white-space: nowrap;

    h1{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3.5rem;
      letter-spacing: 0.5px;
      margin-bottom: 0.5rem;
    }

    ul{
      color: $grayText;
      list-style-type: none;
      font-size: 1.5rem;
      padding:  0 2rem;
      
      li{
        padding: 0.25rem;
      }
    }
  }

  button {
    background: none;
    width: 5rem;
    height: 5rem;
    border: 0;
    position: absolute;
    right:0;
    margin-top: 2rem;
  }
  
  button span {
    position: absolute;
    transition: 300ms;
    background: $grayBorder;
    border-radius: 10px;
  }
  
  .buttonPlus span:first-child {
    @include buttonSpanFirst()
  }
  
  .buttonPlus span:last-child {
    @include buttonSpanLast()
  }
  
  .buttonMinus span:first-child {
    transform: rotate(90deg);
  }
  
  .buttonMinus span:last-child {
    @include buttonSpanLast()
  }
  
  button:active{
    span{
      background: black;
    }
  }
  button:hover span:last-child{
    transform: rotate(180deg)
  }
}

// SEARCHBAR 
.search{
  input {
    width: 100%;
    outline: 0;
    border-width: 0 0 3px;
    border-color: $grayBorder;
    color:$grayText;
    font-size: 2rem;
    font-weight: 300;
    font-family: $Rale;
    padding: 0.75rem 0;

  }
  input:focus {
    border-color: black;
    color: black;
  }
}